/* ==========================================================================
Color definitions to be used for the differnt elements
========================================================================== */
$primary: #FFD700;
$secondary: #7A197D;
$accent: #0DC9FF;
$background: #000;
$navbar: #000;
$title: #CCC;
$subtitle: darken(adjust-hue($background, 200), 33);
$light-title: lighten($title, 35);
$border: darken($background, 7.1);
$header: darken($background, 79);
$subheader: darken($background, 40);